*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial;
    width: 1200px;
    margin: 0px auto;
}
.menu{
    background: #009933;
    margin-bottom: 10px;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    text-align: center;
    display: inline-table;
    height: 40px;
    width: 120px;
    line-height: 40px;
    position: relative;
}
.menu ul li a{
    font-size: 13px;
    text-decoration: none;
    display: block;
    color: white;
}
.menu ul li a:hover{
    background: #f1f1f1;
    color: red;
}
.menu ul li .sub-menu{
	display: none;
	background: limegreen ;
	position: absolute;
}
.menu ul li .sub-menu li{
	border-bottom: 1px solid white;
}

.menu ul li:hover .sub-menu{
	display: block
}
.form{
	float: right;
	margin-top: -34px;
	margin-right: 78px;
}
.form button{
    border: 1px;
    background: #009933;
	float: right;
	color: white;
    padding: 7px;
    width: 25px;
}
.form input[type=text]{
	padding: 5px;
	border: none;
	font-size: 16px;
	font-family: sans-serif
}

.banner_menu{
    margin-top: -59px;
    width: 713px;
    background: #009933;
    margin-bottom: 10px;
}
.banner_menu ul{
    list-style: none;
}
.banner_menu ul li{
    text-align: center;
    display: inline-table;
    width: 139px;
    line-height: 40px;
    position: relative;
    border-left: 1px solid white;
}
.banner_menu ul li a{
    font-size: 13px;
    text-decoration: none;
    display: block;
    color: white;
    height: 55px;
    line-height: 20px;
    padding-top: 7px;
}
.banner_menu ul li a:hover{
    background: #f1f1f1;
    color: red;
}
.main{
    margin-bottom: 10px;
    width: 960px;
    float: left;
}
.main .chinhsach{
    width: 960px;
    margin-top: 25px;
}
.main .chinhsach h2{
    color: #009933;
    padding-bottom: 20px;
}
.main .chinhsach h4{
    color: #009933;
    font-size: 18px;
}

.abc{
    height: 50px;
}
.abc1{
    width: 170px ;
}
.abc2{
    width: 120px;
}
.abc3{
    width: 260px;
}
.abc4{
    width: 380px;
}
.cde{
    text-align: center;
    height: 30px;
}
table{
    border: 1px solid black;
}


.quangcao{
    width: 200px;
    float: right;
}
.quangcao img{
    margin-left: -20px;
}


.footer{
    margin-top: 20px;
    height: 100px;
    clear: both;
    background: #009933;
}
.footer .left{
    padding: 10px;
    float: left;
}
.footer .left p{
    font-weight: bold;
}
.footer .right{
    font-weight: bold;
    color: white;
    float: right;
    width: 287px;
    margin-top: 10px;
    margin-right: -10px;
}