*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial;
    width: 1200px;
    margin: 0px auto;
}
.menu{
    background: #009933;
    margin-bottom: 10px;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    text-align: center;
    display: inline-table;
    height: 40px;
    width: 120px;
    line-height: 40px;
    position: relative;
}
.menu ul li a{
    font-size: 13px;
    text-decoration: none;
    display: block;
    color: white;
}
.menu ul li a:hover{
    background: #f1f1f1;
    color: red;
}
.menu ul li .sub-menu{
	display: none;
	background: limegreen ;
	position: absolute;
}
.menu ul li .sub-menu li{
	border-bottom: 1px solid white;
}

.menu ul li:hover .sub-menu{
	display: block
}
.form{
	float: right;
	margin-top: -34px;
	margin-right: 78px;
}
.form button{
    border: 1px;
    background: #009933;
	float: right;
	color: white;
    padding: 7px;
    width: 25px;
}
.form input[type=text]{
	padding: 5px;
	border: none;
	font-size: 16px;
	font-family: sans-serif
}

.left{
    width: 960px;
    float: left;
}

.left .product .image{
    float: left;
}
.left .product .info {
    padding-left: 415px;
    padding-top: 25px;
}
.left .product .info .price{
    color: red;
}
.left .product .info button{
    width: 130px;
    height: 40px;
    border: 10px;
    border-radius: 20px;
    background: #009933;
    color: white;
}
.left .product .info button:hover{
    background: yellow;
    color: black;
    font-weight: bold;
}
#price{
    color: red;
}
.right{
    width: 240px;
    float: left;
}

.footer{
    margin-top: 20px;
    height: 100px;
    clear: both;
    background: #009933;
}
.footer .left{
    padding: 10px;
    float: left;
}
.footer .left p{
    font-weight: bold;
}
.footer .right{
    font-weight: bold;
    color: white;
    float: right;
    width: 287px;
    margin-top: -68px;
    margin-right: -10px;
}